# Ignore Gradle project-specific cache directory
.gradle
./dependency-management/checkneighbours_example/.gradle/
./dependency-management/checkneighbours_example/build/

# Ignore Gradle build output directory
build
